
<nav class="breadcrumbs">
    {{link-to "Datu Struktūras" "index"}}
    {{#unless irSakums}}
        {{link-to struktura.nosaukums "struktura" struktura.id}}
    {{/unless}}
</nav>

<section role="main">
    {{outlet}}
</section>
