<div class="row">
    <ul class="small-block-grid-3">
        {{#each model as |struktura|}}
            <li>
                {{#link-to "struktura" struktura.id}}<img class="box" src="img/{{struktura.id}}.png" />{{/link-to}}
                <h2>{{link-to struktura.nosaukums "struktura" struktura.id}}</h2>
            </li>
        {{/each}}
    </ul>
</div>

{{outlet}}
